@using YTP.Main.Areas.CarRentalSystem

@model IEnumerable<RentalViewModel>

<table class="table small">
    <thead class="table-dark">
        <tr>
            <th>Car No</th>
            <th>Customer ID</th>
            <th>Rental Fee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Availability</th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td>@item.carid</td>
            <td>@item.custid</td>
            <td>@item.fee</td>
            <td>@item.sdate</td>
            <td>@item.edate</td>
            <td>@item.available</td>
        </tr>
    }
</table>
