<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/localstyles")

</head>
<body>
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">


        <div class="container">
            <a class="navbar-brand me-auto" href="~/SportsStore/">
                <span class="d-none d-md-block">Pwodwi Lakay - DVC</span>
                <div class="d-block d-md-none">PL - DVC</div>
            </a>
            @Html.Action("Summary", "Cart")
        </div>

    </nav>

    <div class="container">

        <div class="row mt-4">
            <div class="d-block d-md-none">
                <div class="card border-0">
                    @Html.Action("Menu", "Nav", new { horizontalMenu = true })
                </div>
            </div>
            <div id="categories" class="col-lx-2 col-lg-3 col-md-4 d-none d-md-block">
                <div class="card border-0">
                    @Html.Action("Menu", "Nav")
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>