
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create New", "Index", "Item", null, new { @class = "btn btn-primary" })

<div class="container">
    <h2 class="text-center">Product List</h2>
    @foreach (var item in Model) {
        <div class="col-md-4" style="border: 2px solid black">
            <div style="text-align:center;border-bottom: 2px solid maroon">
                <h3>@item.ItemName</h3>
            </div>

            <div>
                <div class="col-md-8">
                    <img src="@Url.Content(@item.ImagePath)" alt="" class="img-responsive" height="150" width="150" />
                </div>
                <div class="col-md-4">
                    <b>@item.Description</b>
                </div>
            </div>

            <div>
                <div class="col-md-8" style="font-size:19px;border-top:2px solid maroon;padding:2px">
                    <b>@item.ItemCode</b>
                </div>
                <div class="col-md-4 mb-5 mt-2 p-3" style="text-align:right;border-top:2px solid maroon;">
                    <input type="button" name="AddToCart" value="Add to cart" class="btn btn-primary" itemid="@item.Id" id="btnaddtocart" />
                </div>
            </div>

        </div>
    }
</div>

