
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create New", "Index", "Item", null, new { @class = "btn btn-primary" })

<div class="container">
    <h2 class="text-center">Product List</h2>

    <div class="row">
        @foreach (var item in Model) {

            <div class="col-4 card-deck">
                <div class="card">

                    <img src="@Url.Content(@item.ImagePath)" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><small class="text-muted">@string.Format("{0:c}", item.ItemPrice)</small></p>
                        <input type="button" 
                               name="AddToCart" 
                               value="Add to Cart" 
                               class="btn btn-primary mb-2" 
                               itemid="@item.ItemId" 
                               id="btnaddtocart"
                               onclick="AddToCart(this)"/>
                    </div>

                </div>
            </div>
        }
    </div>

</div>




@section scripts{
    <script type="text/javascript">

        function AddToCart(item) {
            var itemId = $(item).attr("itemid");
            var formData = new FormData();

            formData.append("ItemId", itemId);

            $.ajax({
                async: true,
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,
                url: '/Shopping/Index',
                success: function (data) {
                    if (data.Success) {
                        $('#cartitem').text(`Cart (${data.Counter})`);
                    }
                },
                error: function () {
                    alert("An error occur saving items to your cart.");
                }
            });

        }
    </script>
}