
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create New", "Index", "Item", null, new { @class = "btn btn-primary" })

<div class="container">
    <h2 class="text-center">Product List</h2>

    <div class="row">
        @foreach (var item in Model) {

            <div class="col-4 card-deck">
                <div class="card">

                    <img src="@Url.Content(@item.ImagePath)" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><small class="text-muted">@string.Format("{0:c}", item.ItemPrice)</small></p>
                        <input type="button" name="AddToCart" value="Add to Cart" class="btn btn-primary mb-2" itemid="@item.ItemId" id="btnaddtocart" />
                    </div>

                </div>
            </div>
        }
    </div>

</div>

