@model IEnumerable<MVC_Rehearsals.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>List of Employee</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.BirthDate)</th>
            <th>@Html.DisplayNameFor(m => m.HireDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model) {
            <tr>
                <td>@emp.Title</td>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.BirthDate.ToShortDateString()</td>
                <td>
                    @if (emp.HireDate != null) {
                        @emp.HireDate.ToShortDateString()
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

