@model IEnumerable<YTP.Main.Areas.OperatingManagement.Models.VendorRecordModel>

@{
    ViewBag.Title = "Index";
}

<div class="mt-3 mb-2">
    <a href="@Url.Action("AddOrEdit","VendorRecord")" class="btn btn-primary">&#10009; Create New</a>
</div>
<table class="table table-striped">
    <thead class="table-heading table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.VendorName)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.Priority)</th>
            <th>@Html.DisplayNameFor(model => model.WebsiteAddress)</th>
            <th>@Html.DisplayNameFor(model => model.MainContact)</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.VendorName)</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            <td>@Html.DisplayFor(modelItem => item.Priority)</td>
            <td>@Html.DisplayFor(modelItem => item.WebsiteAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.MainContact)</td>
            <td>
                <a href="@Url.Action("AddOrEdit", "VendorRecord", new { id = item.VendorId})" class="btn btn-warning">&#9998; Edit</a>
                <a onclick="Delete(@item.VendorId)" class="btn btn-danger">&#9986; Delete</a>
            </td>
        </tr>
    }

</table>


@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage != '')
                alertify.success(successMessage);
        })

        function Delete(id) {
            alertify.confirm("Deleting Record", "Are you sure you want to delete?" + id, function () {
                window.location.href = '@Url.Action("Delete", "VendorRecord")/' + id;
            }, null);
        }
    </script>
    }