@model YTP.Main.ViewModels.VM_MiniDisplay

@{
    ViewBag.Title = "Homepage";
    string ListOfModule = Model.Module.FirstOrDefault().ModuleName;
    string anotherModule = Model.ModuleOne.ModuleName != null || 1 != 0 ? Model.ModuleOne.ModuleName : ListOfModule;
}


<h2>@anotherModule : @ViewBag.Greeting</h2>
<h4>@Html.ActionLink("RSVP Now", "RSVPForm")</h4>

<P>This is a URL: @ViewBag.MessageTwo ***2</P>

<div class="row row-cols-1 row-cols-md-3 g-4" style="@ViewBag.cssStyling">

    @foreach (var module in Model.MiniDisplay) {
        <div class="col">
            <div class="card h-100">

                @if (module.DisplayImageLink == null || module.DisplayImageLink == "") {
                    module.DisplayImageLink = "https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png";
                }
                <img src="@module.DisplayImageLink" class="card-img-top" alt="Hollywood Sign on The Hill" />

                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(module.DisplayName, "Index", "Employee", new { area = "" }, new { @class = "nav-link" })</h5>
                    <p class="card-text" id="cardone">
                        @module.DisplayDescription
                    </p>
                </div>

            </div>
        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
